<main class="welcome">
  <div class="tag">
  <h1 class="display-1">Hi, I'm Shumai</h1>
    <h3 class="display-6"> I am a full-stack web-developer. I create responsive and dynamic web sites and web apps.</h3>
    <button type="button" class="btn btn-outline-light"> View my Work </button>
  </div>
</main>