<main class="welcome">
  <div class="tag">
      <h3> I am a full-stack web-developer. I create responsive and dynamic web sites and web apps.</h3>
      <button type="button" class="btn btn-outline-primary"> View my Work </button>
  </div>
</main>