<main class="about">
    <div class="container-xl intro">
        <h1 class="display-4"> My story </h1>
        <p>Professionally: I'm a full stack software engineer. I develop websites and web apps that provide intuitive, pixel-perfect user interfaces while being clean and efficient behind the scenes. My skill set spans from front-end design and implementations to back-end development. I enjoy each aspect and love building sites and mobile web apps from start to finish.</p>
        <p>I am naturally inquisitive and fascinated by the world around me and the way that, software engineering can be used to drive change and affect so many parts of lives.</p>
        <p>Personally: I am humble, patient and personable. I am a proud husband and father, and am lucky to have the support of a loving family. I enjoy listening to jazz music while programming, and when in my creative zone I sketch, paint or play the keyboard among other things.</p>
        <p>As developer living close to London, I am available for remote work and should you fancy building something together, do hit the link below.</p>
        <%= link_to "Contact me", contact_path(@contact),:class=>"btn btn-outline-info"%>
    </div>
</main>